# SQLALchemy 1.4 / 2.0 Tutorial
- [Establishing Connectivity - the Engine](https://docs.sqlalchemy.org/en/14/tutorial/engine.html)
- [Working with Transactions and the DBAPI](https://docs.sqlalchemy.org/en/14/tutorial/dbapi_transactions.html)

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

In [7]:
from sqlalchemy import text

with engine.connect() as conn :
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2022-02-23 03:55:09,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 03:55:09,159 INFO sqlalchemy.engine.Engine select 'hello world'
2022-02-23 03:55:09,160 INFO sqlalchemy.engine.Engine [cached since 112s ago] ()
[('hello world',)]
2022-02-23 03:55:09,160 INFO sqlalchemy.engine.Engine ROLLBACK

In [8]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}]
    )
    conn.commit()

2022-02-23 03:56:07,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 03:56:07,516 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2022-02-23 03:56:07,517 INFO sqlalchemy.engine.Engine [generated in 0.00624s] ()
2022-02-23 03:56:07,518 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-23 03:56:07,523 INFO sqlalchemy.engine.Engine [generated in 0.00440s] ((1, 1), (2, 4))
2022-02-23 03:56:07,524 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}]
    )

2022-02-23 04:05:21,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:05:21,281 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-23 04:05:21,283 INFO sqlalchemy.engine.Engine [cached since 553.8s ago] ((6, 8), (9, 10))
2022-02-23 04:05:21,284 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-23 04:12:07,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:12:07,234 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-23 04:12:07,235 INFO sqlalchemy.engine.Engine [cached since 216.9s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-23 04:12:07,237 INFO sqlalchemy.engine.Engine ROLLBACK

In [20]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        x = row[0]
        y = row[1]
        print(f"x: {x}  y: {y}")

2022-02-23 04:12:40,320 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:12:40,325 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-23 04:12:40,326 INFO sqlalchemy.engine.Engine [cached since 250s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-23 04:12:40,329 INFO sqlalchemy.engine.Engine ROLLBACK

In [21]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for x, y in result:
        print(f"x: {x}  y: {y}")

2022-02-23 04:12:57,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:12:57,164 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-23 04:12:57,166 INFO sqlalchemy.engine.Engine [cached since 266.8s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-23 04:12:57,167 INFO sqlalchemy.engine.Engine ROLLBACK

In [22]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))

    for dict_row in result.mappings():
        x = dict_row['x']
        y = dict_row['y']
        print(f"x: {x}  y: {y}")

2022-02-23 04:13:37,567 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:13:37,571 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-23 04:13:37,572 INFO sqlalchemy.engine.Engine [cached since 307.2s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-23 04:13:37,576 INFO sqlalchemy.engine.Engine ROLLBACK

In [24]:
with engine.connect() as conn:
    result = conn.execute(
        text("SELECT x, y FROM some_table WHERE y > :y"),
        {"y": 2}
    )
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-23 04:15:51,614 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:15:51,616 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2022-02-23 04:15:51,617 INFO sqlalchemy.engine.Engine [cached since 5.882s ago] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-23 04:15:51,618 INFO sqlalchemy.engine.Engine ROLLBACK

In [25]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}]
    )
    conn.commit()

2022-02-23 04:17:52,271 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-23 04:17:52,277 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-23 04:17:52,278 INFO sqlalchemy.engine.Engine [cached since 1305s ago] ((11, 12), (13, 14))
2022-02-23 04:17:52,279 INFO sqlalchemy.engine.Engine COMMIT