# SQLALchemy 1.4 / 2.0 Tutorial
- [Establishing Connectivity - the Engine](https://docs.sqlalchemy.org/en/14/tutorial/engine.html)
- [Working with Transactions and the DBAPI](https://docs.sqlalchemy.org/en/14/tutorial/dbapi_transactions.html)

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

In [2]:
from sqlalchemy import text

with engine.connect() as conn :
    result = conn.execute(text("select 'hello world'"))
    print(result)
    print(result.all())

2022-02-24 18:02:18,030 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,038 INFO sqlalchemy.engine.Engine select 'hello world'
2022-02-24 18:02:18,040 INFO sqlalchemy.engine.Engine [generated in 0.00981s] ()
<sqlalchemy.engine.cursor.CursorResult object at 0x7fe71851ef10>
[('hello world',)]
2022-02-24 18:02:18,043 INFO sqlalchemy.engine.Engine ROLLBACK

In [3]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}]
    )
    conn.commit()

2022-02-24 18:02:18,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,094 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2022-02-24 18:02:18,110 INFO sqlalchemy.engine.Engine [generated in 0.02715s] ()
2022-02-24 18:02:18,117 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-24 18:02:18,121 INFO sqlalchemy.engine.Engine [generated in 0.00414s] ((1, 1), (2, 4))
2022-02-24 18:02:18,125 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}]
    )

2022-02-24 18:02:18,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,167 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-24 18:02:18,180 INFO sqlalchemy.engine.Engine [cached since 0.06309s ago] ((6, 8), (9, 10))
2022-02-24 18:02:18,219 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-24 18:02:18,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,240 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-24 18:02:18,243 INFO sqlalchemy.engine.Engine [generated in 0.01060s] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-24 18:02:18,249 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        x = row[0]
        y = row[1]
        print(f"x: {x}  y: {y}")

2022-02-24 18:02:18,286 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,292 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-24 18:02:18,296 INFO sqlalchemy.engine.Engine [cached since 0.06374s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-24 18:02:18,308 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for x, y in result:
        print(f"x: {x}  y: {y}")

2022-02-24 18:02:18,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,349 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-24 18:02:18,362 INFO sqlalchemy.engine.Engine [cached since 0.129s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-24 18:02:18,374 INFO sqlalchemy.engine.Engine ROLLBACK

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))

    for dict_row in result.mappings():
        x = dict_row['x']
        y = dict_row['y']
        print(f"x: {x}  y: {y}")

2022-02-24 18:02:18,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,435 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-02-24 18:02:18,443 INFO sqlalchemy.engine.Engine [cached since 0.2105s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-24 18:02:18,453 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
with engine.connect() as conn:
    result = conn.execute(
        text("SELECT x, y FROM some_table WHERE y > :y"),
        {"y": 2}
    )
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-24 18:02:18,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,504 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2022-02-24 18:02:18,527 INFO sqlalchemy.engine.Engine [generated in 0.03065s] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-02-24 18:02:18,534 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}]
    )
    conn.commit()

2022-02-24 18:02:18,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,603 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-02-24 18:02:18,614 INFO sqlalchemy.engine.Engine [cached since 0.4917s ago] ((11, 12), (13, 14))
2022-02-24 18:02:18,621 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y").bindparams(y=6)
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-24 18:02:18,668 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:02:18,670 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2022-02-24 18:02:18,672 INFO sqlalchemy.engine.Engine [generated in 0.00506s] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2022-02-24 18:02:18,709 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y").bindparams(y=6)
with Session(engine) as session:
    result = session.execute(stmt)
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2022-02-24 18:03:43,960 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:03:43,963 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2022-02-24 18:03:43,966 INFO sqlalchemy.engine.Engine [cached since 85.4s ago] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2022-02-24 18:03:43,971 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y":11}, {"x": 13, "y": 15}]
    )
    session.commit()

2022-02-24 18:04:22,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-24 18:04:22,288 INFO sqlalchemy.engine.Engine UPDATE some_table SET y=? WHERE x=?
2022-02-24 18:04:22,292 INFO sqlalchemy.engine.Engine [generated in 0.00405s] ((11, 9), (15, 13))
2022-02-24 18:04:22,297 INFO sqlalchemy.engine.Engine COMMIT